body{
    overflow: hidden;
}
.texto{
    font-weight: 700;
    font-size: 200px;
    width: max-content;
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    animation: 15s moveText linear forwards infinite;
}

@keyframes moveText{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(21%)
    }
}